<div class="footer">
    <div class="container">
        <div class="row d-flex align-items-center d-flex justify-content-between">
            <div class="col-md-12 col-lg-2 footerBoton">
                <h6>Informacion</h6>
                <p class="colorS">Lun. a Vie. 10hs a 17hs</p>
                <p class="colorS">Envios a todo el pais</p>
                <p class="colorS">Garantia de 6 meses</p>
                <p class="colorS">Hasta 12 cuotas sin interes</p>
            </div>
            <div class="col-md-12 col-lg-2 footerBoton">
                <h6>Cuenta</h6>
                <a href="/users/iniciarsesion">Iniciar Sesion</a>
                <a href="/users/registro">Registrarse</a>
                <a href="/users/registro">¿Porque debo registrarme?</a>
            </div>
            <div class="col-md-12 col-lg-5 footerImgP">
                <img class="footerImg" src="/images/avalon.jpeg" alt="">
            </div>
            <div class="col-md-12 col-lg-3 footerTarjeta">
                <div class="icono"><i class="fas fa-map-marker-alt"></i></div>
                <div class="texto">
                    <p class="tituloFooter">Email:</p>
                    <p>Avalon@avalon.com.ar</p>
                    <p class="tituloFooter">Direccion:</p>
                    <p>Av. 9 de Julio s/n, C1043 CABA</p>
                    <p class="tituloFooter">Telefono:</p>
                    <p>+54 11 55651144</p>
                    <div class="d-flex justify-content-around cajitaRedes">
                        <a href="" class="redIg"><i class="fab fa-instagram" aria-hidden="true"></i></a>
                        <a href="" class="redFb"><i class="fab fa-facebook-square" aria-hidden="true"></i></a>
                        <a href="" class="redTw"><i class="fab fa-twitter" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

  <!---bootstrap script-->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>