<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-2 footerBoton">
                <h6>Informacion</h6>
                <a href="">Lorem1</a>
                <a href="">Lorem2</a>
                <a href="">Lorem3</a>
                <a href="">Lorem4</a>
            </div>
            <div class="col-md-12 col-lg-2 footerBoton">
                <h6>Cuenta</h6>
                <a href="">Lorem1</a>
                <a href="">Lorem2</a>
                <a href="">Lorem3</a>
                <a href="">Lorem4</a>
            </div>
            <div class="col-md-12 col-lg-5 footerImgP">
                <img class="footerImg" src="images/avalon.jpeg" alt="">
            </div>
            <div class="col-md-12 col-lg-3 footerTarjeta">
                <div class="icono"><i class="fas fa-map-marker-alt"></i></div>
                <div class="texto"><p>(Direccion, contacto redes) Lorem ipsum, dolor sit amet consecteturte! Quibulam excepturi nam dolorem ea?</p></div>
            </div>
        </div>
    </div>
</div>

  <!---bootstrap script-->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>