<header>
  <div class="container">
    <div class="row cajaHeader">
      <div class="col-3 col-lg-7 order-lg-2">
        <nav class="navbar navbar-expand-lg">
          <button class="navbar-toggler botonMnu" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><i class="fas fa-bars"></i></button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
              <li class="nav-item"><a href="">ARMA TU PC</a></li>
              <li class="nav-item"><a href="">PC ARMADAS</a></li>
              <li class="nav-item"><a href="" href="#">PERIFERICOS</a></li>
              <li class="nav-item"><a href="">NOTEBOOKS</a></li>
              <li class="nav-item"><a href="">MONITORES</a></li>
            </ul>
          </div>
        </nav>  
      </div><!--botones de navegacion-->
      <div class="col-6 col-lg-3 order-lg-1 cajaLogo">
        <a href="/"><h4>AVALON</h4></a>
      </div><!--logo-->
      <div class="col-3 col-lg-2 order-lg-3 cajaIconos">
        <div class="dropdown m">
          <a href="" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user"></i></a>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="/iniciarsesion">Iniciar sesion</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/registro">Registrarse</a>
          </div>
        </div>
        <div class="dropdown m">
          <a href="" type="button"  id="dropdownMenuButton1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-shopping-cart"></i></a>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <a class="dropdown-item" href="/carrito">Ir al carrito</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Agregrar un producto</a>
          </div>
        </div>
      </div><!--iconos usuario carrito-->
    </div>
    <div class="row">
      <div class="col-12">
        <form action="" class="cajaBuscador">
          <input type="text">
          <button type="submit"><i class="fas fa-search"></i></button>
        </form>
      </div>
    </div><!--buscador-->
  </div>
</header>