<!DOCTYPE html>
<html lang="es">
<%- include("./partials/head") %> 
<body>
  <%- include("./partials/header") %> 
    <div class="card mb-3" style="max-width: 700px; border-width: 2px; margin-left: 300px; margin-top: 20px;">
        <h3 style="background-color: rgba(246, 101, 19, 0.5);">Carrito de compras</h3>
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="/images/IMAGENESCarri/descarga.jpg" class="card-img" alt="..." style="max-width: 300px;">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Mouse gaming RGB</h5>
              <p class="card-text">Especificaciones Técnicas

                • Modelo: Pulsefire Surge RGB HX-MC002B
                • Marca: HyperX
                • Ergonomía: Simétrica
                • Sensor:Pixart PMW3389
                • Resolución:Hasta 16.000 DPI
                • Ajustes DPI:800 / 1600 / 3200 DPI
                • Velocidad:450ips
                • Aceleración:50G
                • Botones:6
                • Interruptor de los botones derecho/izquierdo:Omron
                • Durabilidad de los botones derecho/izquierdo:
                50 millones de pulsaciones
                • Retroiluminación:RGB (16.777.216 colores)
                • Efectos de iluminación:Iluminación RGB por LED y 4 niveles de brillo.
                • Memoria interna:3 perfiles
                • Tipo de conexión:USB 2.0
                • Velocidad de polling:1000Hz
                • Formato de datos de USB:16 bits/eje
                • Tipo de cable: Trenzado
                • Peso (sin cable):100g
                • Peso (con cable): 130g
                • Dimensiones:Longitud: 120,24mm
                Altura: 40,70mm, Ancho: 62,85mm
                Longitud del cable: 1,8m</div>
                <h5 class="card-title">Precio $ 1.575</h5> 
        <div>
        <ul>
            <button type="button" class="btn btn-primary">Eliminar del carrito</button>
            <div class="btn-group">
                <button type="button" class="btn btn-danger">Cantidad</button>
                <button type="button" class="btn btn-danger dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span class="sr-only">Toggle Dropdown</span>
                </button>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="#">1</a>
                  <a class="dropdown-item" href="#">2</a>
                  <a class="dropdown-item" href="#">3</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#"></a>
                </div>
            </div>
            <button type="button" class="btn btn-primary">Comprar ahora</button>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="card mb-3" style="max-width: 700px; border-width: 2px; margin-left: 300px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="/images/IMAGENESCarri/teclado.png" class="card-img" alt="..." style="max-width: 300px;">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Teclado gamer Redragon Kumara K552 QWERTY OUTEMU</h5>
        <p class="card-text">La gran calidad del Redragon Kumara K552 y su precio económico lo vuelven un atractivo ideal para que te diviertas frente a la pantalla. Su ergonomía, su base antidelizante y su rápido tiempo de respuesta permite que tus juegos favoritos se sientan más cerca que nunca, al alcance de tus manos.

          Distinción a todo color
          Su retroiluminación le dá un toque diferente a tu equipo y resalta su composición cuando es utilizado en espacios poco iluminados.</div>
        <h5 class="card-title">Precio $ 7.000</h5>
  <div>
  <ul>
      <button type="button" class="btn btn-primary">Eliminar del carrito</button>

      <div class="btn-group">
          <button type="button" class="btn btn-danger">Cantidad</button>
          <button type="button" class="btn btn-danger dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="sr-only">Toggle Dropdown</span>
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">1</a>
            <a class="dropdown-item" href="#">2</a>
            <a class="dropdown-item" href="#">3</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#"></a>
          </div>
      </div>
      <button type="button" class="btn btn-primary">Comprar ahora</button>
  </ul>
</div>
</div>
</div>
</div>
<div class="card mb-3" style="max-width: 700px; border-width: 2px; margin-left: 300px;">
  <div class="row no-gutters">
    <div class="col-md-12">
      <div class="card-body">
        <h5 class="card-title" style="float:right;">Precio Total $ 8.575</h5>     
      </div>
    </div>
  </div>
</div>
<%- include("./partials/footer") %> 
</body>
</html>