<!DOCTYPE html>
<html lang="es">
<%- include('./partials/head') %> 
<link rel="stylesheet" href="/stylesheets/Uno.css">
<body>
    <%- include('./partials/header') %> 

    <section class="container cajaFormulario">
        
        <article class="formulario">
            <form action="POST">
                <i class="far fa-user icono"></i>
                <h5>Log In</h5>
                <div class="row">
                    <div class="col-1"><i class="fas fa-envelope"></i></div>
                    <div class="col-11"><input class="form-control" type="text" placeholder="Email"></div>
                </div>
                <div class="row">
                    <div class="col-1"><i class="fas fa-lock"></i></i></div>
                    <div class="col-11"><input class="form-control" type="password" placeholder="Contraseña"></div>
                </div>
                <div class="row">
                    <div class="col-1"><i class="fas fa-lock"></i></div>
                    <div class="col-11"><input class="form-control is-invalid" type="password" placeholder="Repetir contraseña"  id="validationServer03" aria-describedby="validationServer03Feedback" required>
                    <div id="validationServer03Feedback" class="invalid-feedback">Las contraseñas no coinciden</div>    
                    </div>
                    
                </div>
               
                <button type="submit" class="btn btn-primary">Ingresar</button><br>
                <a href="/users/registro" class="btn btn-outline-info">Crear Cuenta</a>
            </form>
        </article>
    </section>

    <%- include('./partials/footer') %> 
</body>
</html>