<!DOCTYPE html>
<html lang="es">
<%- include('./partials/head') %>

<body>
    <%- include('./partials/header') %> 
    
    <div class="container">
        <h1 style="text-align: center; margin: 30px 0;">Nuestros productos</h1>
        <div class="row" style="margin-bottom: 50px;">
            <div class="col">
                <div class="card" style="width: 18rem; text-align: center;">
                    <img src="images/productoMuestra.png" class="card-img-top" alt="...">
                    <div class="card-body">
                    <h5 class="card-title">Titulo Producto</h5>
                    <p class="card-text">$PRECIO</p>
                    <a href="#" class="btn btn-primary">Comprar</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" style="width: 18rem; text-align: center;">
                    <img src="images/productoMuestra.png" class="card-img-top" alt="...">
                    <div class="card-body">
                    <h5 class="card-title">Titulo Producto</h5>
                    <p class="card-text">$PRECIO</p>
                    <a href="#" class="btn btn-primary">Comprar</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" style="width: 18rem; text-align: center;">
                    <img src="images/productoMuestra.png" class="card-img-top" alt="...">
                    <div class="card-body">
                    <h5 class="card-title">Titulo Producto</h5>
                    <p class="card-text">$PRECIO</p>
                    <a href="#" class="btn btn-primary">Comprar</a>
                    </div>
                </div>
            </div>
            
        </div>
    </div>

    <%- include('./partials/footer') %> 
</body>
</html>