<!DOCTYPE html>
<html lang="es">
<%- include('./partials/head') %> 
<link rel="stylesheet" href="/stylesheets/Uno.css">
<body>
    <%- include('./partials/header') %> 

    

    <%- include('./partials/footer') %> 
</body>
</html>